# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

example/example.xcodeproj/project.xcworkspace/contents.xcworkspacedata

example/example.xcodeproj/project.xcworkspace/xcshareddata/example.xccheckout

example/example.xcodeproj/project.xcworkspace/xcuserdata/Charles.xcuserdatad/UserInterfaceState.xcuserstate

example/example.xcodeproj/xcshareddata/xcschemes/example Debug.xcscheme

example/example.xcodeproj/xcshareddata/xcschemes/example Release.xcscheme

example/example.xcodeproj/xcuserdata/Charles.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

example/example.xcodeproj/xcuserdata/Charles.xcuserdatad/xcschemes/xcschememanagement.plist
